# Analysis and Visualization of Complex Agro-Environmental Data
---
## Introduction to Pandas
The name `pandas` is derived from "panel data" and it is the ideal package to deal with structured data, most typically in the form of relational tables, i.e. a table of columns (fields or variables) that describe a listing, or rows, of data (or observations). In pandas (as in R software), a data table is called a [DataFrame](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.html#pandas.DataFrame), which is defined as a two-dimensional, size-mutable (rows and/or columns may be added or deleted), potentially heterogeneous (may contain string, numeric, boolean and missing data) tabular data. Pandas offers a wide range of tools to explore, clean, and process your data.

The first step will be to [install](https://pandas.pydata.org/docs/getting_started/install.html#) pandas. Then, you will need to import pandas to your work session:

In [5]:
import pandas as pd

We may import tabular data from a *.csv file or a *.xlsx file directly to a DataFrame using, respectively, the `read_csv` and `read_excel` funcions. Let's run an example with the table `penguins_lter.csv`, available on the "examples" folder of our github repository (you may run `help(pd. read_csv)` to check the arguments)

In [8]:
df = pd.read_csv (r"/Users/eleshuk/Documents/GitHub/greends-avcad-2025/people/eleshuk/penguins_lter.csv", # the path to the file ("r" is used when the bars in the path are inverted)
              sep=',', # the list separator in *.csv
              header = 'infer', # automatically infers the header row.
              index_col = None) # if no row indexing will be needed
df.head()

,studyName,Sample Number,Species,Region,Island,Stage,Individual ID,Clutch Completion,Date Egg,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (g),Sex,Delta 15 N (o/oo),Delta 13 C (o/oo),Comments
0,PAL0708,1,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N1A1,Yes,11/11/07,39.1,18.7,181.0,3750.0,MALE,NaN,NaN,Not enough blood for isotopes.
1,PAL0708,2,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N1A2,Yes,11/11/07,39.5,17.4,186.0,3800.0,FEMALE,8.94956,-24.69454,NaN
2,PAL0708,3,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N2A1,Yes,11/16/07,40.3,18.0,195.0,3250.0,FEMALE,8.36821,-25.33302,NaN
3,PAL0708,4,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N2A2,Yes,11/16/07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Adult not sampled.
4,PAL0708,5,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N3A1,Yes,11/16/07,36.7,19.3,193.0,3450.0,FEMALE,8.76651,-25.32426,NaN

In [9]:
type(df)

pandas.core.frame.DataFrame

In [10]:
len(df) # number of rows of the DataFrame

344

### Handling data with pandas

#### Accessing data atributes `dataframe.atribute`

In [11]:
df.values # returns a N dimensional matrix (array)

array([['PAL0708', 1, 'Adelie Penguin (Pygoscelis adeliae)', ..., nan,
        nan, 'Not enough blood for isotopes.'],
       ['PAL0708', 2, 'Adelie Penguin (Pygoscelis adeliae)', ...,
        8.94956, -24.69454, nan],
       ['PAL0708', 3, 'Adelie Penguin (Pygoscelis adeliae)', ...,
        8.36821, -25.33302, nan],
       ...,
       ['PAL0910', 122, 'Gentoo penguin (Pygoscelis papua)', ...,
        8.30166, -26.04117, nan],
       ['PAL0910', 123, 'Gentoo penguin (Pygoscelis papua)', ...,
        8.24246, -26.11969, nan],
       ['PAL0910', 124, 'Gentoo penguin (Pygoscelis papua)', ..., 8.3639,
        -26.15531, nan]], dtype=object)

In [12]:
df.columns # returns a list with the header (variables) names.

Index(['studyName', 'Sample Number', 'Species', 'Region', 'Island', 'Stage',
       'Individual ID', 'Clutch Completion', 'Date Egg', 'Culmen Length (mm)',
       'Culmen Depth (mm)', 'Flipper Length (mm)', 'Body Mass (g)', 'Sex',
       'Delta 15 N (o/oo)', 'Delta 13 C (o/oo)', 'Comments'],
      dtype='object')

In [13]:
print(df. head(10)) # prints the first 10 rows.

  studyName  Sample Number                              Species  Region  \
0   PAL0708              1  Adelie Penguin (Pygoscelis adeliae)  Anvers
1   PAL0708              2  Adelie Penguin (Pygoscelis adeliae)  Anvers
2   PAL0708              3  Adelie Penguin (Pygoscelis adeliae)  Anvers
3   PAL0708              4  Adelie Penguin (Pygoscelis adeliae)  Anvers
4   PAL0708              5  Adelie Penguin (Pygoscelis adeliae)  Anvers
5   PAL0708              6  Adelie Penguin (Pygoscelis adeliae)  Anvers
6   PAL0708              7  Adelie Penguin (Pygoscelis adeliae)  Anvers
7   PAL0708              8  Adelie Penguin (Pygoscelis adeliae)  Anvers
8   PAL0708              9  Adelie Penguin (Pygoscelis adeliae)  Anvers
9   PAL0708             10  Adelie Penguin (Pygoscelis adeliae)  Anvers

      Island               Stage Individual ID Clutch Completion  Date Egg  \
0  Torgersen  Adult, 1 Egg Stage          N1A1               Yes  11/11/07
1  Torgersen  Adult, 1 Egg Stage          N1A2               Yes  11/11/07
2  Torgersen  Adult, 1 Egg Stage          N2A1               Yes  11/16/07
3  Torgersen  Adult, 1 Egg Stage          N2A2               Yes  11/16/07
4  Torgersen  Adult, 1 Egg Stage          N3A1               Yes  11/16/07
5  Torgersen  Adult, 1 Egg Stage          N3A2               Yes  11/16/07
6  Torgersen  Adult, 1 Egg Stage          N4A1                No  11/15/07
7  Torgersen  Adult, 1 Egg Stage          N4A2                No  11/15/07
8  Torgersen  Adult, 1 Egg Stage          N5A1               Yes   11/9/07
9  Torgersen  Adult, 1 Egg Stage          N5A2               Yes   11/9/07

   Culmen Length (mm)  Culmen Depth (mm)  Flipper Length (mm)  Body Mass (g)  \
0                39.1               18.7                181.0         3750.0
1                39.5               17.4                186.0         3800.0
2                40.3               18.0                195.0         3250.0
3                 NaN                NaN                  NaN            NaN
4                36.7               19.3                193.0         3450.0
5                39.3               20.6                190.0         3650.0
6                38.9               17.8                181.0         3625.0
7                39.2               19.6                195.0         4675.0
8                34.1               18.1                193.0         3475.0
9                42.0               20.2                190.0         4250.0

      Sex  Delta 15 N (o/oo)  Delta 13 C (o/oo)  \
0    MALE                NaN                NaN
1  FEMALE            8.94956          -24.69454
2  FEMALE            8.36821          -25.33302
3     NaN                NaN                NaN
4  FEMALE            8.76651          -25.32426
5    MALE            8.66496          -25.29805
6  FEMALE            9.18718          -25.21799
7    MALE            9.46060          -24.89958
8     NaN                NaN                NaN
9     NaN            9.13362          -25.09368

                                Comments
0         Not enough blood for isotopes.
1                                    NaN
2                                    NaN
3                     Adult not sampled.
4                                    NaN
5                                    NaN
6  Nest never observed with full clutch.
7  Nest never observed with full clutch.
8              No blood sample obtained.
9   No blood sample obtained for sexing.

#### Accessing and subsetting data

##### Variable subsetting

In [14]:
# extract 'Species' column from df
df['Species']

0      Adelie Penguin (Pygoscelis adeliae)
1      Adelie Penguin (Pygoscelis adeliae)
2      Adelie Penguin (Pygoscelis adeliae)
3      Adelie Penguin (Pygoscelis adeliae)
4      Adelie Penguin (Pygoscelis adeliae)
                      ...
339      Gentoo penguin (Pygoscelis papua)
340      Gentoo penguin (Pygoscelis papua)
341      Gentoo penguin (Pygoscelis papua)
342      Gentoo penguin (Pygoscelis papua)
343      Gentoo penguin (Pygoscelis papua)
Name: Species, Length: 344, dtype: object

In [15]:
# or
df.Species

0      Adelie Penguin (Pygoscelis adeliae)
1      Adelie Penguin (Pygoscelis adeliae)
2      Adelie Penguin (Pygoscelis adeliae)
3      Adelie Penguin (Pygoscelis adeliae)
4      Adelie Penguin (Pygoscelis adeliae)
                      ...
339      Gentoo penguin (Pygoscelis papua)
340      Gentoo penguin (Pygoscelis papua)
341      Gentoo penguin (Pygoscelis papua)
342      Gentoo penguin (Pygoscelis papua)
343      Gentoo penguin (Pygoscelis papua)
Name: Species, Length: 344, dtype: object

In [16]:
# Extract more than one column
df[['Species', 'Culmen Length (mm)']]

                                 Species  Culmen Length (mm)
0    Adelie Penguin (Pygoscelis adeliae)                39.1
1    Adelie Penguin (Pygoscelis adeliae)                39.5
2    Adelie Penguin (Pygoscelis adeliae)                40.3
3    Adelie Penguin (Pygoscelis adeliae)                 NaN
4    Adelie Penguin (Pygoscelis adeliae)                36.7
..                                   ...                 ...
339    Gentoo penguin (Pygoscelis papua)                 NaN
340    Gentoo penguin (Pygoscelis papua)                46.8
341    Gentoo penguin (Pygoscelis papua)                50.4
342    Gentoo penguin (Pygoscelis papua)                45.2
343    Gentoo penguin (Pygoscelis papua)                49.9

[344 rows x 2 columns]

In [19]:
df["Culmen Length (mm)"]

0      39.1
1      39.5
2      40.3
3       NaN
4      36.7
       ...
339     NaN
340    46.8
341    50.4
342    45.2
343    49.9
Name: Culmen Length (mm), Length: 344, dtype: float64

##### Row subsetting

In [20]:
df[df.Species == "Gentoo penguin (Pygoscelis papua)"] # extract rows containing "Gentoo penguin (Pygoscelis papua)" in 'Species'

,studyName,Sample Number,Species,Region,Island,Stage,Individual ID,Clutch Completion,Date Egg,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (g),Sex,Delta 15 N (o/oo),Delta 13 C (o/oo),Comments
220,PAL0708,1,Gentoo penguin (Pygoscelis papua),Anvers,Biscoe,"Adult, 1 Egg Stage",N31A1,Yes,11/27/07,46.1,13.2,211.0,4500.0,FEMALE,7.99300,-25.51390,NaN
221,PAL0708,2,Gentoo penguin (Pygoscelis papua),Anvers,Biscoe,"Adult, 1 Egg Stage",N31A2,Yes,11/27/07,50.0,16.3,230.0,5700.0,MALE,8.14756,-25.39369,NaN
222,PAL0708,3,Gentoo penguin (Pygoscelis papua),Anvers,Biscoe,"Adult, 1 Egg Stage",N32A1,Yes,11/27/07,48.7,14.1,210.0,4450.0,FEMALE,8.14705,-25.46172,NaN
223,PAL0708,4,Gentoo penguin (Pygoscelis papua),Anvers,Biscoe,"Adult, 1 Egg Stage",N32A2,Yes,11/27/07,50.0,15.2,218.0,5700.0,MALE,8.25540,-25.40075,NaN
224,PAL0708,5,Gentoo penguin (Pygoscelis papua),Anvers,Biscoe,"Adult, 1 Egg Stage",N33A1,Yes,11/18/07,47.6,14.5,215.0,5400.0,MALE,8.23450,-25.54456,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
339,PAL0910,120,Gentoo penguin (Pygoscelis papua),Anvers,Biscoe,"Adult, 1 Egg Stage",N38A2,No,12/1/09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
340,PAL0910,121,Gentoo penguin (Pygoscelis papua),Anvers,Biscoe,"Adult, 1 Egg Stage",N39A1,Yes,11/22/09,46.8,14.3,215.0,4850.0,FEMALE,8.41151,-26.13832,NaN
341,PAL0910,122,Gentoo penguin (Pygoscelis papua),Anvers,Biscoe,"Adult, 1 Egg Stage",N39A2,Yes,11/22/09,50.4,15.7,222.0,5750.0,MALE,8.30166,-26.04117,NaN
342,PAL0910,123,Gentoo penguin (Pygoscelis papua),Anvers,Biscoe,"Adult, 1 Egg Stage",N43A1,Yes,11/22/09,45.2,14.8,212.0,5200.0,FEMALE,8.24246,-26.11969,NaN
343,PAL0910,124,Gentoo penguin (Pygoscelis papua),Anvers,Biscoe,"Adult, 1 Egg Stage",N43A2,Yes,11/22/09,49.9,16.1,213.0,5400.0,MALE,8.36390,-26.15531,NaN

In [21]:
df[df.Species != "Adelie Penguin (Pygoscelis adeliae)"] # extract rows not containing "Adelie penguin (Pygoscelis adeliae)" in 'Species'

,studyName,Sample Number,Species,Region,Island,Stage,Individual ID,Clutch Completion,Date Egg,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (g),Sex,Delta 15 N (o/oo),Delta 13 C (o/oo),Comments
152,PAL0708,1,Chinstrap penguin (Pygoscelis antarctica),Anvers,Dream,"Adult, 1 Egg Stage",N61A1,No,11/19/07,46.5,17.9,192.0,3500.0,FEMALE,9.03935,-24.30229,NaN
153,PAL0708,2,Chinstrap penguin (Pygoscelis antarctica),Anvers,Dream,"Adult, 1 Egg Stage",N61A2,No,11/19/07,50.0,19.5,196.0,3900.0,MALE,8.92069,-24.23592,NaN
154,PAL0708,3,Chinstrap penguin (Pygoscelis antarctica),Anvers,Dream,"Adult, 1 Egg Stage",N62A1,Yes,11/26/07,51.3,19.2,193.0,3650.0,MALE,9.29078,-24.75570,NaN
155,PAL0708,4,Chinstrap penguin (Pygoscelis antarctica),Anvers,Dream,"Adult, 1 Egg Stage",N62A2,Yes,11/26/07,45.4,18.7,188.0,3525.0,FEMALE,8.64701,-24.62717,NaN
156,PAL0708,5,Chinstrap penguin (Pygoscelis antarctica),Anvers,Dream,"Adult, 1 Egg Stage",N64A1,Yes,11/21/07,52.7,19.8,197.0,3725.0,MALE,9.00642,-24.61867,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
339,PAL0910,120,Gentoo penguin (Pygoscelis papua),Anvers,Biscoe,"Adult, 1 Egg Stage",N38A2,No,12/1/09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
340,PAL0910,121,Gentoo penguin (Pygoscelis papua),Anvers,Biscoe,"Adult, 1 Egg Stage",N39A1,Yes,11/22/09,46.8,14.3,215.0,4850.0,FEMALE,8.41151,-26.13832,NaN
341,PAL0910,122,Gentoo penguin (Pygoscelis papua),Anvers,Biscoe,"Adult, 1 Egg Stage",N39A2,Yes,11/22/09,50.4,15.7,222.0,5750.0,MALE,8.30166,-26.04117,NaN
342,PAL0910,123,Gentoo penguin (Pygoscelis papua),Anvers,Biscoe,"Adult, 1 Egg Stage",N43A1,Yes,11/22/09,45.2,14.8,212.0,5200.0,FEMALE,8.24246,-26.11969,NaN
343,PAL0910,124,Gentoo penguin (Pygoscelis papua),Anvers,Biscoe,"Adult, 1 Egg Stage",N43A2,Yes,11/22/09,49.9,16.1,213.0,5400.0,MALE,8.36390,-26.15531,NaN

In [22]:
df[df['Culmen Length (mm)'] > 40] # extract all rows with Culmen Length > 40 mm

,studyName,Sample Number,Species,Region,Island,Stage,Individual ID,Clutch Completion,Date Egg,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (g),Sex,Delta 15 N (o/oo),Delta 13 C (o/oo),Comments
2,PAL0708,3,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N2A1,Yes,11/16/07,40.3,18.0,195.0,3250.0,FEMALE,8.36821,-25.33302,NaN
9,PAL0708,10,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N5A2,Yes,11/9/07,42.0,20.2,190.0,4250.0,NaN,9.13362,-25.09368,No blood sample obtained for sexing.
12,PAL0708,13,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N7A1,Yes,11/15/07,41.1,17.6,182.0,3200.0,FEMALE,NaN,NaN,Not enough blood for isotopes.
17,PAL0708,18,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N9A2,Yes,11/12/07,42.5,20.7,197.0,4500.0,MALE,8.67538,-25.13993,NaN
19,PAL0708,20,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N10A2,Yes,11/16/07,46.0,21.5,194.0,4200.0,MALE,9.11616,-24.77227,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
338,PAL0910,119,Gentoo penguin (Pygoscelis papua),Anvers,Biscoe,"Adult, 1 Egg Stage",N38A1,No,12/1/09,47.2,13.7,214.0,4925.0,FEMALE,7.99184,-26.20538,NaN
340,PAL0910,121,Gentoo penguin (Pygoscelis papua),Anvers,Biscoe,"Adult, 1 Egg Stage",N39A1,Yes,11/22/09,46.8,14.3,215.0,4850.0,FEMALE,8.41151,-26.13832,NaN
341,PAL0910,122,Gentoo penguin (Pygoscelis papua),Anvers,Biscoe,"Adult, 1 Egg Stage",N39A2,Yes,11/22/09,50.4,15.7,222.0,5750.0,MALE,8.30166,-26.04117,NaN
342,PAL0910,123,Gentoo penguin (Pygoscelis papua),Anvers,Biscoe,"Adult, 1 Egg Stage",N43A1,Yes,11/22/09,45.2,14.8,212.0,5200.0,FEMALE,8.24246,-26.11969,NaN
343,PAL0910,124,Gentoo penguin (Pygoscelis papua),Anvers,Biscoe,"Adult, 1 Egg Stage",N43A2,Yes,11/22/09,49.9,16.1,213.0,5400.0,MALE,8.36390,-26.15531,NaN

In [23]:
df.sample(n=5) # random sample of 5 rows

,studyName,Sample Number,Species,Region,Island,Stage,Individual ID,Clutch Completion,Date Egg,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (g),Sex,Delta 15 N (o/oo),Delta 13 C (o/oo),Comments
67,PAL0809,68,Adelie Penguin (Pygoscelis adeliae),Anvers,Biscoe,"Adult, 1 Egg Stage",N30A2,Yes,11/6/08,41.1,19.1,188.0,4100.0,MALE,8.71078,-25.81012,NaN
167,PAL0708,16,Chinstrap penguin (Pygoscelis antarctica),Anvers,Dream,"Adult, 1 Egg Stage",N70A2,Yes,11/22/07,50.5,19.6,201.0,4050.0,MALE,9.80590,-24.72940,NaN
161,PAL0708,10,Chinstrap penguin (Pygoscelis antarctica),Anvers,Dream,"Adult, 1 Egg Stage",N67A2,Yes,11/21/07,51.3,19.9,198.0,3700.0,MALE,8.79581,-24.36088,NaN
193,PAL0809,42,Chinstrap penguin (Pygoscelis antarctica),Anvers,Dream,"Adult, 1 Egg Stage",N74A2,Yes,11/24/08,46.2,17.5,187.0,3650.0,FEMALE,9.61734,-24.66188,NaN
36,PAL0708,37,Adelie Penguin (Pygoscelis adeliae),Anvers,Dream,"Adult, 1 Egg Stage",N24A1,Yes,11/16/07,38.8,20.0,190.0,3950.0,MALE,9.18985,-25.12255,NaN

##### Row and column subsetting

Data subsetting in pandas are often based on the `.loc` and `iloc` methods. 

* The `loc` method uses rows and column names: `.loc[row names , column names]`

* The `iloc` method uses indices instead: `.iloc[row index> , column index]`

In [24]:
df.loc[199,'Species'] # returns 'Species' at row with index = 199 (row 200)

'Chinstrap penguin (Pygoscelis antarctica)'

In [25]:
df.loc[0:4,'Species'] # returns 'Species' from rows 0 to 4 (including 4, as it assumes as a name).

0    Adelie Penguin (Pygoscelis adeliae)
1    Adelie Penguin (Pygoscelis adeliae)
2    Adelie Penguin (Pygoscelis adeliae)
3    Adelie Penguin (Pygoscelis adeliae)
4    Adelie Penguin (Pygoscelis adeliae)
Name: Species, dtype: object

In [26]:
df.loc[:,['Species','Culmen Length (mm)']] # returns 'Species' and 'Culmen Length (mm)' for all rows

                                 Species  Culmen Length (mm)
0    Adelie Penguin (Pygoscelis adeliae)                39.1
1    Adelie Penguin (Pygoscelis adeliae)                39.5
2    Adelie Penguin (Pygoscelis adeliae)                40.3
3    Adelie Penguin (Pygoscelis adeliae)                 NaN
4    Adelie Penguin (Pygoscelis adeliae)                36.7
..                                   ...                 ...
339    Gentoo penguin (Pygoscelis papua)                 NaN
340    Gentoo penguin (Pygoscelis papua)                46.8
341    Gentoo penguin (Pygoscelis papua)                50.4
342    Gentoo penguin (Pygoscelis papua)                45.2
343    Gentoo penguin (Pygoscelis papua)                49.9

[344 rows x 2 columns]

In [27]:
df.iloc[0:4, [2,9]] # returns 'Species' and 'Culmen Length (mm)' for rows 0 to 3.

                               Species  Culmen Length (mm)
0  Adelie Penguin (Pygoscelis adeliae)                39.1
1  Adelie Penguin (Pygoscelis adeliae)                39.5
2  Adelie Penguin (Pygoscelis adeliae)                40.3
3  Adelie Penguin (Pygoscelis adeliae)                 NaN

In [28]:
df.iloc[2:4,:] # returns all columns of lines 2 and 3.

,studyName,Sample Number,Species,Region,Island,Stage,Individual ID,Clutch Completion,Date Egg,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (g),Sex,Delta 15 N (o/oo),Delta 13 C (o/oo),Comments
2,PAL0708,3,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N2A1,Yes,11/16/07,40.3,18.0,195.0,3250.0,FEMALE,8.36821,-25.33302,NaN
3,PAL0708,4,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N2A2,Yes,11/16/07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Adult not sampled.

##### Summary functions

In [29]:
df['Culmen Length (mm)'].sum() # Sums all the rowws of the selected column

np.float64(15021.3)

In [30]:
df.count() # counts rows with data

studyName              344
Sample Number          344
Species                344
Region                 344
Island                 344
Stage                  344
Individual ID          344
Clutch Completion      344
Date Egg               344
Culmen Length (mm)     342
Culmen Depth (mm)      342
Flipper Length (mm)    342
Body Mass (g)          342
Sex                    334
Delta 15 N (o/oo)      330
Delta 13 C (o/oo)      331
Comments                26
dtype: int64

In [35]:
df.mean(numeric_only=True) # computes the mean value of only the quantitative variables (columns)

Sample Number            63.151163
Culmen Length (mm)       43.921930
Culmen Depth (mm)        17.151170
Flipper Length (mm)     200.915205
Body Mass (g)          4201.754386
Delta 15 N (o/oo)         8.733382
Delta 13 C (o/oo)       -25.686292
dtype: float64

In [36]:
df['Culmen Length (mm)'].mean() # computes the mean of the selected row

np.float64(43.9219298245614)

In [37]:
df.describe() # computes several statistics of only the quantitative variables (columns)

,Sample Number,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (g),Delta 15 N (o/oo),Delta 13 C (o/oo)
count,344.000000,342.000000,342.000000,342.000000,342.000000,330.000000,331.000000
mean,63.151163,43.921930,17.151170,200.915205,4201.754386,8.733382,-25.686292
std,40.430199,5.459584,1.974793,14.061714,801.954536,0.551770,0.793961
min,1.000000,32.100000,13.100000,172.000000,2700.000000,7.632200,-27.018540
25%,29.000000,39.225000,15.600000,190.000000,3550.000000,8.299890,-26.320305
50%,58.000000,44.450000,17.300000,197.000000,4050.000000,8.652405,-25.833520
75%,95.250000,48.500000,18.700000,213.000000,4750.000000,9.172123,-25.062050
max,152.000000,59.600000,21.500000,231.000000,6300.000000,10.025440,-23.787670

In [32]:
# Same thing but now using 'round' function
round(df.describe() ,2)

,Sample Number,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (g),Delta 15 N (o/oo),Delta 13 C (o/oo)
count,344.00,342.00,342.00,342.00,342.00,330.00,331.00
mean,63.15,43.92,17.15,200.92,4201.75,8.73,-25.69
std,40.43,5.46,1.97,14.06,801.95,0.55,0.79
min,1.00,32.10,13.10,172.00,2700.00,7.63,-27.02
25%,29.00,39.22,15.60,190.00,3550.00,8.30,-26.32
50%,58.00,44.45,17.30,197.00,4050.00,8.65,-25.83
75%,95.25,48.50,18.70,213.00,4750.00,9.17,-25.06
max,152.00,59.60,21.50,231.00,6300.00,10.03,-23.79

##### Convert to other data formats

In [38]:
dflist = df.values.tolist() # converts DataFrame to a list of lists
print(*dflist, sep="\n") # print 'each list' (defined by *) within the overall list (dflist) in different rows (defined by sep="\n").

['PAL0708', 1, 'Adelie Penguin (Pygoscelis adeliae)', 'Anvers', 'Torgersen', 'Adult, 1 Egg Stage', 'N1A1', 'Yes', '11/11/07', 39.1, 18.7, 181.0, 3750.0, 'MALE', nan, nan, 'Not enough blood for isotopes.']
['PAL0708', 2, 'Adelie Penguin (Pygoscelis adeliae)', 'Anvers', 'Torgersen', 'Adult, 1 Egg Stage', 'N1A2', 'Yes', '11/11/07', 39.5, 17.4, 186.0, 3800.0, 'FEMALE', 8.94956, -24.69454, nan]
['PAL0708', 3, 'Adelie Penguin (Pygoscelis adeliae)', 'Anvers', 'Torgersen', 'Adult, 1 Egg Stage', 'N2A1', 'Yes', '11/16/07', 40.3, 18.0, 195.0, 3250.0, 'FEMALE', 8.36821, -25.33302, nan]
['PAL0708', 4, 'Adelie Penguin (Pygoscelis adeliae)', 'Anvers', 'Torgersen', 'Adult, 1 Egg Stage', 'N2A2', 'Yes', '11/16/07', nan, nan, nan, nan, nan, nan, nan, 'Adult not sampled.']
['PAL0708', 5, 'Adelie Penguin (Pygoscelis adeliae)', 'Anvers', 'Torgersen', 'Adult, 1 Egg Stage', 'N3A1', 'Yes', '11/16/07', 36.7, 19.3, 193.0, 3450.0, 'FEMALE', 8.76651, -25.32426, nan]
['PAL0708', 6, 'Adelie Penguin (Pygoscelis adeliae)', 'Anvers', 'Torgersen', 'Adult, 1 Egg Stage', 'N3A2', 'Yes', '11/16/07', 39.3, 20.6, 190.0, 3650.0, 'MALE', 8.66496, -25.29805, nan]
['PAL0708', 7, 'Adelie Penguin (Pygoscelis adeliae)', 'Anvers', 'Torgersen', 'Adult, 1 Egg Stage', 'N4A1', 'No', '11/15/07', 38.9, 17.8, 181.0, 3625.0, 'FEMALE', 9.18718, -25.21799, 'Nest never observed with full clutch.']
['PAL0708', 8, 'Adelie Penguin (Pygoscelis adeliae)', 'Anvers', 'Torgersen', 'Adult, 1 Egg Stage', 'N4A2', 'No', '11/15/07', 39.2, 19.6, 195.0, 4675.0, 'MALE', 9.4606, -24.89958, 'Nest never observed with full clutch.']
['PAL0708', 9, 'Adelie Penguin (Pygoscelis adeliae)', 'Anvers', 'Torgersen', 'Adult, 1 Egg Stage', 'N5A1', 'Yes', '11/9/07', 34.1, 18.1, 193.0, 3475.0, nan, nan, nan, 'No blood sample obtained.']
['PAL0708', 10, 'Adelie Penguin (Pygoscelis adeliae)', 'Anvers', 'Torgersen', 'Adult, 1 Egg Stage', 'N5A2', 'Yes', '11/9/07', 42.0, 20.2, 190.0, 4250.0, nan, 9.13362, -25.09368, 'No blood sample obtained for sexing.']
['PAL0708', 11, 'Adelie Penguin (Pygoscelis adeliae)', 'Anvers', 'Torgersen', 'Adult, 1 Egg Stage', 'N6A1', 'Yes', '11/9/07', 37.8, 17.1, 186.0, 3300.0, nan, 8.63243, -25.21315, 'No blood sample obtained for sexing.']
['PAL0708', 12, 'Adelie Penguin (Pygoscelis adeliae)', 'Anvers', 'Torgersen', 'Adult, 1 Egg Stage', 'N6A2', 'Yes', '11/9/07', 37.8, 17.3, 180.0, 3700.0, nan, nan, nan, 'No blood sample obtained.']
['PAL0708', 13, 'Adelie Penguin (Pygoscelis adeliae)', 'Anvers', 'Torgersen', 'Adult, 1 Egg Stage', 'N7A1', 'Yes', '11/15/07', 41.1, 17.6, 182.0, 3200.0, 'FEMALE', nan, nan, 'Not enough blood for isotopes.']
['PAL0708', 14, 'Adelie Penguin (Pygoscelis adeliae)', 'Anvers', 'Torgersen', 'Adult, 1 Egg Stage', 'N7A2', 'Yes', '11/15/07', 38.6, 21.2, 191.0, 3800.0, 'MALE', nan, nan, 'Not enough blood for isotopes.']
['PAL0708', 15, 'Adelie Penguin (Pygoscelis adeliae)', 'Anvers', 'Torgersen', 'Adult, 1 Egg Stage', 'N8A1', 'Yes', '11/16/07', 34.6, 21.1, 198.0, 4400.0, 'MALE', 8.55583, -25.22588, nan]
['PAL0708', 16, 'Adelie Penguin (Pygoscelis adeliae)', 'Anvers', 'Torgersen', 'Adult, 1 Egg Stage', 'N8A2', 'Yes', '11/16/07', 36.6, 17.8, 185.0, 3700.0, 'FEMALE', nan, nan, 'Not enough blood for isotopes.']
['PAL0708', 17, 'Adelie Penguin (Pygoscelis adeliae)', 'Anvers', 'Torgersen', 'Adult, 1 Egg Stage', 'N9A1', 'Yes', '11/12/07', 38.7, 19.0, 195.0, 3450.0, 'FEMALE', 9.18528, -25.06691, nan]
['PAL0708', 18, 'Adelie Penguin (Pygoscelis adeliae)', 'Anvers', 'Torgersen', 'Adult, 1 Egg Stage', 'N9A2', 'Yes', '11/12/07', 42.5, 20.7, 197.0, 4500.0, 'MALE', 8.67538, -25.13993, nan]
['PAL0708', 19, 'Adelie Penguin (Pygoscelis adeliae)', 'Anvers', 'Torgersen', 'Adult, 1 Egg Stage', 'N10A1', 'Yes', '11/16/07', 34.4, 18.4, 184.0, 3325.0, 'FEMALE', 8.47827, -25.23319, nan]
['PAL0708', 20, 'Adelie Penguin (Pygoscelis adeliae)', 'Anvers', 'Torgersen', 'Adult, 1 Egg Stage', 'N10A2', 'Yes', '11/16/07', 46.0, 21.5, 194.0, 4200.0, 'MALE', 9.11616, -24.77227, nan]
['PAL0708', 21, 'Adelie Penguin (Pygoscelis adeliae)', 'Anvers', 'Biscoe', 'Adult, 1 Egg Stage', 'N11A1', 'Yes', '11/12/07', 37.8, 18.3, 174.0, 3400.0, 'FEMALE', 8.73762, -25.09383, nan]
['PAL0708', 22, 'Adelie Penguin (Pygoscelis adeliae)', 'Anvers', 'Biscoe', 'Adult, 1 Egg Stage', 'N11A2', 'Yes', '11/12/07', 37.7, 18.7, 180.0, 3600.0, 'MALE', 8.66271, -25.0639, nan]
['PAL0708', 23, 'Adelie Penguin (Pygoscelis adeliae)', 'Anvers', 'Biscoe', 'Adult, 1 Egg Stage', 'N12A1', 'Yes', '11/12/07', 35.9, 19.2, 189.0, 3800.0, 'FEMALE', 9.22286, -25.03474, nan]
['PAL0708', 24, 'Adelie Penguin (Pygoscelis adeliae)', 'Anvers', 'Biscoe', 'Adult, 1 Egg Stage', 'N12A2', 'Yes', '11/12/07', 38.2, 18.1, 185.0, 3950.0, 'MALE', 8.43423, -25.22664, nan]
['PAL0708', 25, 'Adelie Penguin (Pygoscelis adeliae)', 'Anvers', 'Biscoe', 'Adult, 1 Egg Stage', 'N13A1', 'Yes', '11/10/07', 38.8, 17.2, 180.0, 3800.0, 'MALE', 9.63954, -25.29856, nan]
['PAL0708', 26, 'Adelie Penguin (Pygoscelis adeliae)', 'Anvers', 'Biscoe', 'Adult, 1 Egg Stage', 'N13A2', 'Yes', '11/10/07', 35.3, 18.9, 187.0, 3800.0, 'FEMALE', 9.21292, -24.3613, nan]
['PAL0708', 27, 'Adelie Penguin (Pygoscelis adeliae)', 'Anvers', 'Biscoe', 'Adult, 1 Egg Stage', 'N17A1', 'Yes', '11/12/07', 40.6, 18.6, 183.0, 3550.0, 'MALE', 8.93997, -25.36288, nan]
['PAL0708', 28, 'Adelie Penguin (Pygoscelis adeliae)', 'Anvers', 'Biscoe', 'Adult, 1 Egg Stage', 'N17A2', 'Yes', '11/12/07', 40.5, 17.9, 187.0, 3200.0, 'FEMALE', 8.08138, -25.49448, nan]
['PAL0708', 29, 'Adelie Penguin (Pygoscelis adeliae)', 'Anvers', 'Biscoe', 'Adult, 1 Egg Stage', 'N18A1', 'No', '11/10/07', 37.9, 18.6, 172.0, 3150.0, 'FEMALE', 8.38404, -25.19837, 'Nest never observed with full clutch.']
['PAL0708', 30, 'Adelie Penguin (Pygoscelis adeliae)', 'Anvers', 'Biscoe', 'Adult, 1 Egg Stage', 'N18A2', 'No', '11/10/07', 40.5, 18.9, 180.0, 3950.0, 'MALE', 8.90027, -25.11609, 'Nest never observed with full clutch.']
['PAL0708', 31, 'Adelie Penguin (Pygoscelis adeliae)', 'Anvers', 'Dream', 'Adult, 1 Egg Stage', 'N21A1', 'Yes', '11/9/07', 39.5, 16.7, 178.0, 3250.0, 'FEMALE', 9.69756, -25.11223, nan]
['PAL0708', 32, 'Adelie Penguin (Pygoscelis adeliae)', 'Anvers', 'Dream', 'Adult, 1 Egg Stage', 'N21A2', 'Yes', '11/9/07', 37.2, 18.1, 178.0, 3900.0, 'MALE', 9.72764, -25.0102, nan]
['PAL0708', 33, 'Adelie Penguin (Pygoscelis adeliae)', 'Anvers', 'Dream', 'Adult, 1 Egg Stage', 'N22A1', 'Yes', '11/9/07', 39.5, 17.8, 188.0, 3300.0, 'FEMALE', 9.66523, -25.0602, nan]
['PAL0708', 34, 'Adelie Penguin (Pygoscelis adeliae)', 'Anvers', 'Dream', 'Adult, 1 Egg Stage', 'N22A2', 'Yes', '11/9/07', 40.9, 18.9, 184.0, 3900.0, 'MALE', 8.79665, -25.14591, nan]
['PAL0708', 35, 'Adelie Penguin (Pygoscelis adeliae)', 'Anvers', 'Dream', 'Adult, 1 Egg Stage', 'N23A1', 'Yes', '11/16/07', 36.4, 17.0, 195.0, 3325.0, 'FEMALE', 9.17847, -25.23061, nan]
['PAL0708', 36, 'Adelie Penguin (Pygoscelis adeliae)', 'Anvers', 'Dream', 'Adult, 1 Egg Stage', 'N23A2', 'Yes', '11/16/07', 39.2, 21.1, 196.0, 4150.0, 'MALE', 9.15308, -25.03469, nan]
['PAL0708', 37, 'Adelie Penguin (Pygoscelis adeliae)', 'Anvers', 'Dream', 'Adult, 1 Egg Stage', 'N24A1', 'Yes', '11/16/07', 38.8, 20.0, 190.0, 3950.0, 'MALE', 9.18985, -25.12255, nan]
['PAL0708', 38, 'Adelie Penguin (Pygoscelis adeliae)', 'Anvers', 'Dream', 'Adult, 1 Egg Stage', 'N24A2', 'Yes', '11/16/07', 42.2, 18.5, 180.0, 3550.0, 'FEMALE', 8.04787, -25.49523, nan]
['PAL0708', 39, 'Adelie Penguin (Pygoscelis adeliae)', 'Anvers', 'Dream', 'Adult, 1 Egg Stage', 'N25A1', 'No', '11/13/07', 37.6, 19.3, 181.0, 3300.0, 'FEMALE', 9.41131, -25.04169, 'Nest never observed with full clutch.']
['PAL0708', 40, 'Adelie Penguin (Pygoscelis adeliae)', 'Anvers', 'Dream', 'Adult, 1 Egg Stage', 'N25A2', 'No', '11/13/07', 39.8, 19.1, 184.0, 4650.0, 'MALE', nan, nan, 'Nest never observed with full clutch. Not enough blood for isotopes.']
['PAL0708', 41, 'Adelie Penguin (Pygoscelis adeliae)', 'Anvers', 'Dream', 'Adult, 1 Egg Stage', 'N26A1', 'Yes', '11/16/07', 36.5, 18.0, 182.0, 3150.0, 'FEMALE', 9.68933, -24.4228, nan]
['PAL0708', 42, 'Adelie Penguin (Pygoscelis adeliae)', 'Anvers', 'Dream', 'Adult, 1 Egg Stage', 'N26A2', 'Yes', '11/16/07', 40.8, 18.4, 195.0, 3900.0, 'MALE', nan, nan, 'Not enough blood for isotopes.']
['PAL0708', 43, 'Adelie Penguin (Pygoscelis adeliae)', 'Anvers', 'Dream', 'Adult, 1 Egg Stage', 'N27A1', 'Yes', '11/19/07', 36.0, 18.5, 186.0, 3100.0, 'FEMALE', 9.50772, -25.03492, nan]
['PAL0708', 44, 'Adelie Penguin (Pygoscelis adeliae)', 'Anvers', 'Dream', 'Adult, 1 Egg Stage', 'N27A2', 'Yes', '11/19/07', 44.1, 19.7, 196.0, 4400.0, 'MALE', 9.2372, -24.52698, nan]
['PAL0708', 45, 'Adelie Penguin (Pygoscelis adeliae)', 'Anvers', 'Dream', 'Adult, 1 Egg Stage', 'N28A1', 'Yes', '11/16/07', 37.0, 16.9, 185.0, 3000.0, 'FEMALE', 9.36392, -25.01745, nan]
['PAL0708', 46, 'Adelie Penguin (Pygoscelis adeliae)', 'Anvers', 'Dream', 'Adult, 1 Egg Stage', 'N28A2', 'Yes', '11/16/07', 39.6, 18.8, 190.0, 4600.0, 'MALE', 9.49106, -24.10255, nan]
['PAL0708', 47, 'Adelie Penguin (Pygoscelis adeliae)', 'Anvers', 'Dream', 'Adult, 1 Egg Stage', 'N29A1', 'Yes', '11/13/07', 41.1, 19.0, 182.0, 3425.0, 'MALE', nan, nan, 'Not enough blood for isotopes.']
['PAL0708', 48, 'Adelie Penguin (Pygoscelis adeliae)', 'Anvers', 'Dream', 'Adult, 1 Egg Stage', 'N29A2', 'Yes', '11/13/07', 37.5, 18.9, 179.0, 2975.0, nan, nan, nan, 'Sexing primers did not amplify. Not enough blood for isotopes.']
['PAL0708', 49, 'Adelie Penguin (Pygoscelis adeliae)', 'Anvers', 'Dream', 'Adult, 1 Egg Stage', 'N30A1', 'Yes', '11/13/07', 36.0, 17.9, 190.0, 3450.0, 'FEMALE', 9.51784, -25.07683, nan]
['PAL0708', 50, 'Adelie Penguin (Pygoscelis adeliae)', 'Anvers', 'Dream', 'Adult, 1 Egg Stage', 'N30A2', 'Yes', '11/13/07', 42.3, 21.2, 191.0, 4150.0, 'MALE', 8.87988, -25.18543, nan]
['PAL0809', 51, 'Adelie Penguin (Pygoscelis adeliae)', 'Anvers', 'Biscoe', 'Adult, 1 Egg Stage', 'N21A1', 'Yes', '11/6/08', 39.6, 17.7, 186.0, 3500.0, 'FEMALE', 8.46616, -26.12989, nan]
['PAL0809', 52, 'Adelie Penguin (Pygoscelis adeliae)', 'Anvers', 'Biscoe', 'Adult, 1 Egg Stage', 'N21A2', 'Yes', '11/6/08', 40.1, 18.9, 188.0, 4300.0, 'MALE', 8.51362, -26.55602, nan]
['PAL0809', 53, 'Adelie Penguin (Pygoscelis adeliae)', 'Anvers', 'Biscoe', 'Adult, 1 Egg Stage', 'N22A1', 'Yes', '11/9/08', 35.0, 17.9, 190.0, 3450.0, 'FEMALE', 8.19539, -26.17213, nan]
['PAL0809', 54, 'Adelie Penguin (Pygoscelis adeliae)', 'Anvers', 'Biscoe', 'Adult, 1 Egg Stage', 'N22A2', 'Yes', '11/9/08', 42.0, 19.5, 200.0, 4050.0, 'MALE', 8.48095, -26.3146, nan]
['PAL0809', 55, 'Adelie Penguin (Pygoscelis adeliae)', 'Anvers', 'Biscoe', 'Adult, 1 Egg Stage', 'N23A1', 'Yes', '11/9/08', 34.5, 18.1, 187.0, 2900.0, 'FEMALE', 8.41837, -26.54718, nan]
['PAL0809', 56, 'Adelie Penguin (Pygoscelis adeliae)', 'Anvers', 'Biscoe', 'Adult, 1 Egg Stage', 'N23A2', 'Yes', '11/9/08', 41.4, 18.6, 191.0, 3700.0, 'MALE', 8.35396, -26.27853, nan]
['PAL0809', 57, 'Adelie Penguin (Pygoscelis adeliae)', 'Anvers', 'Biscoe', 'Adult, 1 Egg Stage', 'N24A1', 'Yes', '11/15/08', 39.0, 17.5, 186.0, 3550.0, 'FEMALE', 8.57199, -26.07188, nan]
['PAL0809', 58, 'Adelie Penguin (Pygoscelis adeliae)', 'Anvers', 'Biscoe', 'Adult, 1 Egg Stage', 'N24A2', 'Yes', '11/15/08', 40.6, 18.8, 193.0, 3800.0, 'MALE', 8.56674, -25.98843, nan]
['PAL0809', 59, 'Adelie Penguin (Pygoscelis adeliae)', 'Anvers', 'Biscoe', 'Adult, 1 Egg Stage', 'N25A1', 'Yes', '11/15/08', 36.5, 16.6, 181.0, 2850.0, 'FEMALE', 9.07878, -25.88156, nan]
['PAL0809', 60, 'Adelie Penguin (Pygoscelis adeliae)', 'Anvers', 'Biscoe', 'Adult, 1 Egg Stage', 'N25A2', 'Yes', '11/15/08', 37.6, 19.1, 194.0, 3750.0, 'MALE', 9.108, -25.89677, nan]
['PAL0809', 61, 'Adelie Penguin (Pygoscelis adeliae)', 'Anvers', 'Biscoe', 'Adult, 1 Egg Stage', 'N27A1', 'Yes', '11/13/08', 35.7, 16.9, 185.0, 3150.0, 'FEMALE', 8.96472, -26.40943, nan]
['PAL0809', 62, 'Adelie Penguin (Pygoscelis adeliae)', 'Anvers', 'Biscoe', 'Adult, 1 Egg Stage', 'N27A2', 'Yes', '11/13/08', 41.3, 21.1, 195.0, 4400.0, 'MALE', 8.74802, -26.37809, nan]
['PAL0809', 63, 'Adelie Penguin (Pygoscelis adeliae)', 'Anvers', 'Biscoe', 'Adult, 1 Egg Stage', 'N28A1', 'Yes', '11/13/08', 37.6, 17.0, 185.0, 3600.0, 'FEMALE', 8.58063, -26.21569, nan]
['PAL0809', 64, 'Adelie Penguin (Pygoscelis adeliae)', 'Anvers', 'Biscoe', 'Adult, 1 Egg Stage', 'N28A2', 'Yes', '11/13/08', 41.1, 18.2, 192.0, 4050.0, 'MALE', 8.62264, -26.60023, nan]
['PAL0809', 65, 'Adelie Penguin (Pygoscelis adeliae)', 'Anvers', 'Biscoe', 'Adult, 1 Egg Stage', 'N29A1', 'Yes', '11/13/08', 36.4, 17.1, 184.0, 2850.0, 'FEMALE', 8.62623, -26.1165, nan]
['PAL0809', 66, 'Adelie Penguin (Pygoscelis adeliae)', 'Anvers', 'Biscoe', 'Adult, 1 Egg Stage', 'N29A2', 'Yes', '11/13/08', 41.6, 18.0, 192.0, 3950.0, 'MALE', 8.85562, -26.09294, nan]
['PAL0809', 67, 'Adelie Penguin (Pygoscelis adeliae)', 'Anvers', 'Biscoe', 'Adult, 1 Egg Stage', 'N30A1', 'Yes', '11/6/08', 35.5, 16.2, 195.0, 3350.0, 'FEMALE', 8.56192, -25.95541, nan]
['PAL0809', 68, 'Adelie Penguin (Pygoscelis adeliae)', 'Anvers', 'Biscoe', 'Adult, 1 Egg Stage', 'N30A2', 'Yes', '11/6/08', 41.1, 19.1, 188.0, 4100.0, 'MALE', 8.71078, -25.81012, nan]
['PAL0809', 69, 'Adelie Penguin (Pygoscelis adeliae)', 'Anvers', 'Torgersen', 'Adult, 1 Egg Stage', 'N32A1', 'No', '11/11/08', 35.9, 16.6, 190.0, 3050.0, 'FEMALE', 8.47781, -26.07821, 'Nest never observed with full clutch.']
['PAL0809', 70, 'Adelie Penguin (Pygoscelis adeliae)', 'Anvers', 'Torgersen', 'Adult, 1 Egg Stage', 'N32A2', 'No', '11/11/08', 41.8, 19.4, 198.0, 4450.0, 'MALE', 8.86853, -26.06209, 'Nest never observed with full clutch.']
['PAL0809', 71, 'Adelie Penguin (Pygoscelis adeliae)', 'Anvers', 'Torgersen', 'Adult, 1 Egg Stage', 'N34A1', 'Yes', '11/14/08', 33.5, 19.0, 190.0, 3600.0, 'FEMALE', 7.88863, -26.63085, nan]
['PAL0809', 72, 'Adelie Penguin (Pygoscelis adeliae)', 'Anvers', 'Torgersen', 'Adult, 1 Egg Stage', 'N34A2', 'Yes', '11/14/08', 39.7, 18.4, 190.0, 3900.0, 'MALE', 9.29808, -25.23453, nan]
['PAL0809', 73, 'Adelie Penguin (Pygoscelis adeliae)', 'Anvers', 'Torgersen', 'Adult, 1 Egg Stage', 'N35A1', 'Yes', '11/11/08', 39.6, 17.2, 196.0, 3550.0, 'FEMALE', 8.33524, -26.55351, nan]
['PAL0809', 74, 'Adelie Penguin (Pygoscelis adeliae)', 'Anvers', 'Torgersen', 'Adult, 1 Egg Stage', 'N35A2', 'Yes', '11/11/08', 45.8, 18.9, 197.0, 4150.0, 'MALE', 8.18658, -26.45978, nan]
['PAL0809', 75, 'Adelie Penguin (Pygoscelis adeliae)', 'Anvers', 'Torgersen', 'Adult, 1 Egg Stage', 'N36A1', 'Yes', '11/8/08', 35.5, 17.5, 190.0, 3700.0, 'FEMALE', 8.70642, -26.15003, nan]
['PAL0809', 76, 'Adelie Penguin (Pygoscelis adeliae)', 'Anvers', 'Torgersen', 'Adult, 1 Egg Stage', 'N36A2', 'Yes', '11/8/08', 42.8, 18.5, 195.0, 4250.0, 'MALE', 8.2993, -26.38986, nan]
['PAL0809', 77, 'Adelie Penguin (Pygoscelis adeliae)', 'Anvers', 'Torgersen', 'Adult, 1 Egg Stage', 'N37A1', 'Yes', '11/6/08', 40.9, 16.8, 191.0, 3700.0, 'FEMALE', 8.47257, -26.02002, nan]
['PAL0809', 78, 'Adelie Penguin (Pygoscelis adeliae)', 'Anvers', 'Torgersen', 'Adult, 1 Egg Stage', 'N37A2', 'Yes', '11/6/08', 37.2, 19.4, 184.0, 3900.0, 'MALE', 8.3554, -26.44787, nan]
['PAL0809', 79, 'Adelie Penguin (Pygoscelis adeliae)', 'Anvers', 'Torgersen', 'Adult, 1 Egg Stage', 'N38A1', 'Yes', '11/9/08', 36.2, 16.1, 187.0, 3550.0, 'FEMALE', 7.82381, -26.51382, nan]
['PAL0809', 80, 'Adelie Penguin (Pygoscelis adeliae)', 'Anvers', 'Torgersen', 'Adult, 1 Egg Stage', 'N38A2', 'Yes', '11/9/08', 42.1, 19.1, 195.0, 4000.0, 'MALE', 9.05736, -25.81513, nan]
['PAL0809', 81, 'Adelie Penguin (Pygoscelis adeliae)', 'Anvers', 'Torgersen', 'Adult, 1 Egg Stage', 'N39A1', 'Yes', '11/2/08', 34.6, 17.2, 189.0, 3200.0, 'FEMALE', 7.69778, -26.5387, nan]
['PAL0809', 82, 'Adelie Penguin (Pygoscelis adeliae)', 'Anvers', 'Torgersen', 'Adult, 1 Egg Stage', 'N39A2', 'Yes', '11/2/08', 42.9, 17.6, 196.0, 4700.0, 'MALE', 8.63259, -26.23027, nan]
['PAL0809', 83, 'Adelie Penguin (Pygoscelis adeliae)', 'Anvers', 'Torgersen', 'Adult, 1 Egg Stage', 'N40A1', 'Yes', '11/7/08', 36.7, 18.8, 187.0, 3800.0, 'FEMALE', 7.88494, -26.24837, nan]
['PAL0809', 84, 'Adelie Penguin (Pygoscelis adeliae)', 'Anvers', 'Torgersen', 'Adult, 1 Egg Stage', 'N40A2', 'Yes', '11/7/08', 35.1, 19.4, 193.0, 4200.0, 'MALE', 8.90002, -26.46254, nan]
['PAL0809', 85, 'Adelie Penguin (Pygoscelis adeliae)', 'Anvers', 'Dream', 'Adult, 1 Egg Stage', 'N41A1', 'Yes', '11/17/08', 37.3, 17.8, 191.0, 3350.0, 'FEMALE', 8.32718, -26.38396, nan]
['PAL0809', 86, 'Adelie Penguin (Pygoscelis adeliae)', 'Anvers', 'Dream', 'Adult, 1 Egg Stage', 'N41A2', 'Yes', '11/17/08', 41.3, 20.3, 194.0, 3550.0, 'MALE', 9.14863, -26.09635, nan]
['PAL0809', 87, 'Adelie Penguin (Pygoscelis adeliae)', 'Anvers', 'Dream', 'Adult, 1 Egg Stage', 'N42A1', 'Yes', '11/8/08', 36.3, 19.5, 190.0, 3800.0, 'MALE', 8.57087, -26.22227, nan]
['PAL0809', 88, 'Adelie Penguin (Pygoscelis adeliae)', 'Anvers', 'Dream', 'Adult, 1 Egg Stage', 'N42A2', 'Yes', '11/8/08', 36.9, 18.6, 189.0, 3500.0, 'FEMALE', 8.59147, -26.08165, nan]
['PAL0809', 89, 'Adelie Penguin (Pygoscelis adeliae)', 'Anvers', 'Dream', 'Adult, 1 Egg Stage', 'N44A1', 'Yes', '11/8/08', 38.3, 19.2, 189.0, 3950.0, 'MALE', 9.07826, -26.12417, nan]
['PAL0809', 90, 'Adelie Penguin (Pygoscelis adeliae)', 'Anvers', 'Dream', 'Adult, 1 Egg Stage', 'N44A2', 'Yes', '11/8/08', 38.9, 18.8, 190.0, 3600.0, 'FEMALE', 8.36936, -26.11199, nan]
['PAL0809', 91, 'Adelie Penguin (Pygoscelis adeliae)', 'Anvers', 'Dream', 'Adult, 1 Egg Stage', 'N45A1', 'Yes', '11/14/08', 35.7, 18.0, 202.0, 3550.0, 'FEMALE', 8.46531, -26.05621, nan]
['PAL0809', 92, 'Adelie Penguin (Pygoscelis adeliae)', 'Anvers', 'Dream', 'Adult, 1 Egg Stage', 'N45A2', 'Yes', '11/14/08', 41.1, 18.1, 205.0, 4300.0, 'MALE', 8.77018, -25.83352, nan]
['PAL0809', 93, 'Adelie Penguin (Pygoscelis adeliae)', 'Anvers', 'Dream', 'Adult, 1 Egg Stage', 'N46A1', 'Yes', '11/5/08', 34.0, 17.1, 185.0, 3400.0, 'FEMALE', 8.01485, -26.69543, nan]
['PAL0809', 94, 'Adelie Penguin (Pygoscelis adeliae)', 'Anvers', 'Dream', 'Adult, 1 Egg Stage', 'N46A2', 'Yes', '11/5/08', 39.6, 18.1, 186.0, 4450.0, 'MALE', 8.49915, -26.42406, nan]
['PAL0809', 95, 'Adelie Penguin (Pygoscelis adeliae)', 'Anvers', 'Dream', 'Adult, 1 Egg Stage', 'N48A1', 'Yes', '11/17/08', 36.2, 17.3, 187.0, 3300.0, 'FEMALE', 8.90723, -26.30037, nan]
['PAL0809', 96, 'Adelie Penguin (Pygoscelis adeliae)', 'Anvers', 'Dream', 'Adult, 1 Egg Stage', 'N48A2', 'Yes', '11/17/08', 40.8, 18.9, 208.0, 4300.0, 'MALE', 8.48204, -26.57941, nan]
['PAL0809', 97, 'Adelie Penguin (Pygoscelis adeliae)', 'Anvers', 'Dream', 'Adult, 1 Egg Stage', 'N49A1', 'Yes', '11/8/08', 38.1, 18.6, 190.0, 3700.0, 'FEMALE', 8.10277, -26.50086, nan]
['PAL0809', 98, 'Adelie Penguin (Pygoscelis adeliae)', 'Anvers', 'Dream', 'Adult, 1 Egg Stage', 'N49A2', 'Yes', '11/8/08', 40.3, 18.5, 196.0, 4350.0, 'MALE', 8.39459, -26.01152, nan]
['PAL0809', 99, 'Adelie Penguin (Pygoscelis adeliae)', 'Anvers', 'Dream', 'Adult, 1 Egg Stage', 'N50A1', 'Yes', '11/10/08', 33.1, 16.1, 178.0, 2900.0, 'FEMALE', 9.04218, -26.15775, nan]
['PAL0809', 100, 'Adelie Penguin (Pygoscelis adeliae)', 'Anvers', 'Dream', 'Adult, 1 Egg Stage', 'N50A2', 'Yes', '11/10/08', 43.2, 18.5, 192.0, 4100.0, 'MALE', 8.97025, -26.03679, nan]
['PAL0910', 101, 'Adelie Penguin (Pygoscelis adeliae)', 'Anvers', 'Biscoe', 'Adult, 1 Egg Stage', 'N47A1', 'Yes', '11/9/09', 35.0, 17.9, 192.0, 3725.0, 'FEMALE', 8.84451, -26.28055, nan]
['PAL0910', 102, 'Adelie Penguin (Pygoscelis adeliae)', 'Anvers', 'Biscoe', 'Adult, 1 Egg Stage', 'N47A2', 'Yes', '11/9/09', 41.0, 20.0, 203.0, 4725.0, 'MALE', 9.01079, -26.38085, nan]
['PAL0910', 103, 'Adelie Penguin (Pygoscelis adeliae)', 'Anvers', 'Biscoe', 'Adult, 1 Egg Stage', 'N49A1', 'Yes', '11/15/09', 37.7, 16.0, 183.0, 3075.0, 'FEMALE', 9.2151, -26.2253, nan]
['PAL0910', 104, 'Adelie Penguin (Pygoscelis adeliae)', 'Anvers', 'Biscoe', 'Adult, 1 Egg Stage', 'N49A2', 'Yes', '11/15/09', 37.8, 20.0, 190.0, 4250.0, 'MALE', 9.51929, -25.69199, nan]

In [39]:

species = df['Species'].values.tolist() # converts the variable "Species" into a list.
print(species)

['Adelie Penguin (Pygoscelis adeliae)', 'Adelie Penguin (Pygoscelis adeliae)', 'Adelie Penguin (Pygoscelis adeliae)', 'Adelie Penguin (Pygoscelis adeliae)', 'Adelie Penguin (Pygoscelis adeliae)', 'Adelie Penguin (Pygoscelis adeliae)', 'Adelie Penguin (Pygoscelis adeliae)', 'Adelie Penguin (Pygoscelis adeliae)', 'Adelie Penguin (Pygoscelis adeliae)', 'Adelie Penguin (Pygoscelis adeliae)', 'Adelie Penguin (Pygoscelis adeliae)', 'Adelie Penguin (Pygoscelis adeliae)', 'Adelie Penguin (Pygoscelis adeliae)', 'Adelie Penguin (Pygoscelis adeliae)', 'Adelie Penguin (Pygoscelis adeliae)', 'Adelie Penguin (Pygoscelis adeliae)', 'Adelie Penguin (Pygoscelis adeliae)', 'Adelie Penguin (Pygoscelis adeliae)', 'Adelie Penguin (Pygoscelis adeliae)', 'Adelie Penguin (Pygoscelis adeliae)', 'Adelie Penguin (Pygoscelis adeliae)', 'Adelie Penguin (Pygoscelis adeliae)', 'Adelie Penguin (Pygoscelis adeliae)', 'Adelie Penguin (Pygoscelis adeliae)', 'Adelie Penguin (Pygoscelis adeliae)', 'Adelie Penguin (Pygoscelis adeliae)', 'Adelie Penguin (Pygoscelis adeliae)', 'Adelie Penguin (Pygoscelis adeliae)', 'Adelie Penguin (Pygoscelis adeliae)', 'Adelie Penguin (Pygoscelis adeliae)', 'Adelie Penguin (Pygoscelis adeliae)', 'Adelie Penguin (Pygoscelis adeliae)', 'Adelie Penguin (Pygoscelis adeliae)', 'Adelie Penguin (Pygoscelis adeliae)', 'Adelie Penguin (Pygoscelis adeliae)', 'Adelie Penguin (Pygoscelis adeliae)', 'Adelie Penguin (Pygoscelis adeliae)', 'Adelie Penguin (Pygoscelis adeliae)', 'Adelie Penguin (Pygoscelis adeliae)', 'Adelie Penguin (Pygoscelis adeliae)', 'Adelie Penguin (Pygoscelis adeliae)', 'Adelie Penguin (Pygoscelis adeliae)', 'Adelie Penguin (Pygoscelis adeliae)', 'Adelie Penguin (Pygoscelis adeliae)', 'Adelie Penguin (Pygoscelis adeliae)', 'Adelie Penguin (Pygoscelis adeliae)', 'Adelie Penguin (Pygoscelis adeliae)', 'Adelie Penguin (Pygoscelis adeliae)', 'Adelie Penguin (Pygoscelis adeliae)', 'Adelie Penguin (Pygoscelis adeliae)', 'Adelie Penguin (Pygoscelis adeliae)', 'Adelie Penguin (Pygoscelis adeliae)', 'Adelie Penguin (Pygoscelis adeliae)', 'Adelie Penguin (Pygoscelis adeliae)', 'Adelie Penguin (Pygoscelis adeliae)', 'Adelie Penguin (Pygoscelis adeliae)', 'Adelie Penguin (Pygoscelis adeliae)', 'Adelie Penguin (Pygoscelis adeliae)', 'Adelie Penguin (Pygoscelis adeliae)', 'Adelie Penguin (Pygoscelis adeliae)', 'Adelie Penguin (Pygoscelis adeliae)', 'Adelie Penguin (Pygoscelis adeliae)', 'Adelie Penguin (Pygoscelis adeliae)', 'Adelie Penguin (Pygoscelis adeliae)', 'Adelie Penguin (Pygoscelis adeliae)', 'Adelie Penguin (Pygoscelis adeliae)', 'Adelie Penguin (Pygoscelis adeliae)', 'Adelie Penguin (Pygoscelis adeliae)', 'Adelie Penguin (Pygoscelis adeliae)', 'Adelie Penguin (Pygoscelis adeliae)', 'Adelie Penguin (Pygoscelis adeliae)', 'Adelie Penguin (Pygoscelis adeliae)', 'Adelie Penguin (Pygoscelis adeliae)', 'Adelie Penguin (Pygoscelis adeliae)', 'Adelie Penguin (Pygoscelis adeliae)', 'Adelie Penguin (Pygoscelis adeliae)', 'Adelie Penguin (Pygoscelis adeliae)', 'Adelie Penguin (Pygoscelis adeliae)', 'Adelie Penguin (Pygoscelis adeliae)', 'Adelie Penguin (Pygoscelis adeliae)', 'Adelie Penguin (Pygoscelis adeliae)', 'Adelie Penguin (Pygoscelis adeliae)', 'Adelie Penguin (Pygoscelis adeliae)', 'Adelie Penguin (Pygoscelis adeliae)', 'Adelie Penguin (Pygoscelis adeliae)', 'Adelie Penguin (Pygoscelis adeliae)', 'Adelie Penguin (Pygoscelis adeliae)', 'Adelie Penguin (Pygoscelis adeliae)', 'Adelie Penguin (Pygoscelis adeliae)', 'Adelie Penguin (Pygoscelis adeliae)', 'Adelie Penguin (Pygoscelis adeliae)', 'Adelie Penguin (Pygoscelis adeliae)', 'Adelie Penguin (Pygoscelis adeliae)', 'Adelie Penguin (Pygoscelis adeliae)', 'Adelie Penguin (Pygoscelis adeliae)', 'Adelie Penguin (Pygoscelis adeliae)', 'Adelie Penguin (Pygoscelis adeliae)', 'Adelie Penguin (Pygoscelis adeliae)', 'Adelie Penguin (Pygoscelis adeliae)', 'Adelie Penguin (Pygoscelis adeliae)', 'Adelie Penguin (Pygoscelis adeliae)', 'Adelie Penguin (Pygoscelis adeliae)', 'Adelie Penguin (Pygoscelis adeliae)', 'Adelie Penguin (Pygoscelis adeliae)', 'Adelie Penguin (Pygoscelis adeliae)', 'Adelie Penguin (Pygoscelis adeliae)', 'Adelie Penguin (Pygoscelis adeliae)', 'Adelie Penguin (Pygoscelis adeliae)', 'Adelie Penguin (Pygoscelis adeliae)', 'Adelie Penguin (Pygoscelis adeliae)', 'Adelie Penguin (Pygoscelis adeliae)', 'Adelie Penguin (Pygoscelis adeliae)', 'Adelie Penguin (Pygoscelis adeliae)', 'Adelie Penguin (Pygoscelis adeliae)', 'Adelie Penguin (Pygoscelis adeliae)', 'Adelie Penguin (Pygoscelis adeliae)', 'Adelie Penguin (Pygoscelis adeliae)', 'Adelie Penguin (Pygoscelis adeliae)', 'Adelie Penguin (Pygoscelis adeliae)', 'Adelie Penguin (Pygoscelis adeliae)', 'Adelie Penguin (Pygoscelis adeliae)', 'Adelie Penguin (Pygoscelis adeliae)', 'Adelie Penguin (Pygoscelis adeliae)', 'Adelie Penguin (Pygoscelis adeliae)', 'Adelie Penguin (Pygoscelis adeliae)', 'Adelie Penguin (Pygoscelis adeliae)', 'Adelie Penguin (Pygoscelis adeliae)', 'Adelie Penguin (Pygoscelis adeliae)', 'Adelie Penguin (Pygoscelis adeliae)', 'Adelie Penguin (Pygoscelis adeliae)', 'Adelie Penguin (Pygoscelis adeliae)', 'Adelie Penguin (Pygoscelis adeliae)', 'Adelie Penguin (Pygoscelis adeliae)', 'Adelie Penguin (Pygoscelis adeliae)', 'Adelie Penguin (Pygoscelis adeliae)', 'Adelie Penguin (Pygoscelis adeliae)', 'Adelie Penguin (Pygoscelis adeliae)', 'Adelie Penguin (Pygoscelis adeliae)', 'Adelie Penguin (Pygoscelis adeliae)', 'Adelie Penguin (Pygoscelis adeliae)', 'Adelie Penguin (Pygoscelis adeliae)', 'Adelie Penguin (Pygoscelis adeliae)', 'Adelie Penguin (Pygoscelis adeliae)', 'Adelie Penguin (Pygoscelis adeliae)', 'Adelie Penguin (Pygoscelis adeliae)', 'Adelie Penguin (Pygoscelis adeliae)', 'Adelie Penguin (Pygoscelis adeliae)', 'Adelie Penguin (Pygoscelis adeliae)', 'Adelie Penguin (Pygoscelis adeliae)', 'Adelie Penguin (Pygoscelis adeliae)', 'Adelie Penguin (Pygoscelis adeliae)', 'Adelie Penguin (Pygoscelis adeliae)', 'Chinstrap penguin (Pygoscelis antarctica)', 'Chinstrap penguin (Pygoscelis antarctica)', 'Chinstrap penguin (Pygoscelis antarctica)', 'Chinstrap penguin (Pygoscelis antarctica)', 'Chinstrap penguin (Pygoscelis antarctica)', 'Chinstrap penguin (Pygoscelis antarctica)', 'Chinstrap penguin (Pygoscelis antarctica)', 'Chinstrap penguin (Pygoscelis antarctica)', 'Chinstrap penguin (Pygoscelis antarctica)', 'Chinstrap penguin (Pygoscelis antarctica)', 'Chinstrap penguin (Pygoscelis antarctica)', 'Chinstrap penguin (Pygoscelis antarctica)', 'Chinstrap penguin (Pygoscelis antarctica)', 'Chinstrap penguin (Pygoscelis antarctica)', 'Chinstrap penguin (Pygoscelis antarctica)', 'Chinstrap penguin (Pygoscelis antarctica)', 'Chinstrap penguin (Pygoscelis antarctica)', 'Chinstrap penguin (Pygoscelis antarctica)', 'Chinstrap penguin (Pygoscelis antarctica)', 'Chinstrap penguin (Pygoscelis antarctica)', 'Chinstrap penguin (Pygoscelis antarctica)', 'Chinstrap penguin (Pygoscelis antarctica)', 'Chinstrap penguin (Pygoscelis antarctica)', 'Chinstrap penguin (Pygoscelis antarctica)', 'Chinstrap penguin (Pygoscelis antarctica)', 'Chinstrap penguin (Pygoscelis antarctica)', 'Chinstrap penguin (Pygoscelis antarctica)', 'Chinstrap penguin (Pygoscelis antarctica)', 'Chinstrap penguin (Pygoscelis antarctica)', 'Chinstrap penguin (Pygoscelis antarctica)', 'Chinstrap penguin (Pygoscelis antarctica)', 'Chinstrap penguin (Pygoscelis antarctica)', 'Chinstrap penguin (Pygoscelis antarctica)', 'Chinstrap penguin (Pygoscelis antarctica)', 'Chinstrap penguin (Pygoscelis antarctica)', 'Chinstrap penguin (Pygoscelis antarctica)', 'Chinstrap penguin (Pygoscelis antarctica)', 'Chinstrap penguin (Pygoscelis antarctica)', 'Chinstrap penguin (Pygoscelis antarctica)', 'Chinstrap penguin (Pygoscelis antarctica)', 'Chinstrap penguin (Pygoscelis antarctica)', 'Chinstrap penguin (Pygoscelis antarctica)', 'Chinstrap penguin (Pygoscelis antarctica)', 'Chinstrap penguin (Pygoscelis antarctica)', 'Chinstrap penguin (Pygoscelis antarctica)', 'Chinstrap penguin (Pygoscelis antarctica)', 'Chinstrap penguin (Pygoscelis antarctica)', 'Chinstrap penguin (Pygoscelis antarctica)', 'Chinstrap penguin (Pygoscelis antarctica)', 'Chinstrap penguin (Pygoscelis antarctica)', 'Chinstrap penguin (Pygoscelis antarctica)', 'Chinstrap penguin (Pygoscelis antarctica)', 'Chinstrap penguin (Pygoscelis antarctica)', 'Chinstrap penguin (Pygoscelis antarctica)', 'Chinstrap penguin (Pygoscelis antarctica)', 'Chinstrap penguin (Pygoscelis antarctica)', 'Chinstrap penguin (Pygoscelis antarctica)', 'Chinstrap penguin (Pygoscelis antarctica)', 'Chinstrap penguin (Pygoscelis antarctica)', 'Chinstrap penguin (Pygoscelis antarctica)', 'Chinstrap penguin (Pygoscelis antarctica)', 'Chinstrap penguin (Pygoscelis antarctica)', 'Chinstrap penguin (Pygoscelis antarctica)', 'Chinstrap penguin (Pygoscelis antarctica)', 'Chinstrap penguin (Pygoscelis antarctica)', 'Chinstrap penguin (Pygoscelis antarctica)', 'Chinstrap penguin (Pygoscelis antarctica)', 'Chinstrap penguin (Pygoscelis antarctica)', 'Gentoo penguin (Pygoscelis papua)', 'Gentoo penguin (Pygoscelis papua)', 'Gentoo penguin (Pygoscelis papua)', 'Gentoo penguin (Pygoscelis papua)', 'Gentoo penguin (Pygoscelis papua)', 'Gentoo penguin (Pygoscelis papua)', 'Gentoo penguin (Pygoscelis papua)', 'Gentoo penguin (Pygoscelis papua)', 'Gentoo penguin (Pygoscelis papua)', 'Gentoo penguin (Pygoscelis papua)', 'Gentoo penguin (Pygoscelis papua)', 'Gentoo penguin (Pygoscelis papua)', 'Gentoo penguin (Pygoscelis papua)', 'Gentoo penguin (Pygoscelis papua)', 'Gentoo penguin (Pygoscelis papua)', 'Gentoo penguin (Pygoscelis papua)', 'Gentoo penguin (Pygoscelis papua)', 'Gentoo penguin (Pygoscelis papua)', 'Gentoo penguin (Pygoscelis papua)', 'Gentoo penguin (Pygoscelis papua)', 'Gentoo penguin (Pygoscelis papua)', 'Gentoo penguin (Pygoscelis papua)', 'Gentoo penguin (Pygoscelis papua)', 'Gentoo penguin (Pygoscelis papua)', 'Gentoo penguin (Pygoscelis papua)', 'Gentoo penguin (Pygoscelis papua)', 'Gentoo penguin (Pygoscelis papua)', 'Gentoo penguin (Pygoscelis papua)', 'Gentoo penguin (Pygoscelis papua)', 'Gentoo penguin (Pygoscelis papua)', 'Gentoo penguin (Pygoscelis papua)', 'Gentoo penguin (Pygoscelis papua)', 'Gentoo penguin (Pygoscelis papua)', 'Gentoo penguin (Pygoscelis papua)', 'Gentoo penguin (Pygoscelis papua)', 'Gentoo penguin (Pygoscelis papua)', 'Gentoo penguin (Pygoscelis papua)', 'Gentoo penguin (Pygoscelis papua)', 'Gentoo penguin (Pygoscelis papua)', 'Gentoo penguin (Pygoscelis papua)', 'Gentoo penguin (Pygoscelis papua)', 'Gentoo penguin (Pygoscelis papua)', 'Gentoo penguin (Pygoscelis papua)', 'Gentoo penguin (Pygoscelis papua)', 'Gentoo penguin (Pygoscelis papua)', 'Gentoo penguin (Pygoscelis papua)', 'Gentoo penguin (Pygoscelis papua)', 'Gentoo penguin (Pygoscelis papua)', 'Gentoo penguin (Pygoscelis papua)', 'Gentoo penguin (Pygoscelis papua)', 'Gentoo penguin (Pygoscelis papua)', 'Gentoo penguin (Pygoscelis papua)', 'Gentoo penguin (Pygoscelis papua)', 'Gentoo penguin (Pygoscelis papua)', 'Gentoo penguin (Pygoscelis papua)', 'Gentoo penguin (Pygoscelis papua)', 'Gentoo penguin (Pygoscelis papua)', 'Gentoo penguin (Pygoscelis papua)', 'Gentoo penguin (Pygoscelis papua)', 'Gentoo penguin (Pygoscelis papua)', 'Gentoo penguin (Pygoscelis papua)', 'Gentoo penguin (Pygoscelis papua)', 'Gentoo penguin (Pygoscelis papua)', 'Gentoo penguin (Pygoscelis papua)', 'Gentoo penguin (Pygoscelis papua)', 'Gentoo penguin (Pygoscelis papua)', 'Gentoo penguin (Pygoscelis papua)', 'Gentoo penguin (Pygoscelis papua)', 'Gentoo penguin (Pygoscelis papua)', 'Gentoo penguin (Pygoscelis papua)', 'Gentoo penguin (Pygoscelis papua)', 'Gentoo penguin (Pygoscelis papua)', 'Gentoo penguin (Pygoscelis papua)', 'Gentoo penguin (Pygoscelis papua)', 'Gentoo penguin (Pygoscelis papua)', 'Gentoo penguin (Pygoscelis papua)', 'Gentoo penguin (Pygoscelis papua)', 'Gentoo penguin (Pygoscelis papua)', 'Gentoo penguin (Pygoscelis papua)', 'Gentoo penguin (Pygoscelis papua)', 'Gentoo penguin (Pygoscelis papua)', 'Gentoo penguin (Pygoscelis papua)', 'Gentoo penguin (Pygoscelis papua)', 'Gentoo penguin (Pygoscelis papua)', 'Gentoo penguin (Pygoscelis papua)', 'Gentoo penguin (Pygoscelis papua)', 'Gentoo penguin (Pygoscelis papua)', 'Gentoo penguin (Pygoscelis papua)', 'Gentoo penguin (Pygoscelis papua)', 'Gentoo penguin (Pygoscelis papua)', 'Gentoo penguin (Pygoscelis papua)', 'Gentoo penguin (Pygoscelis papua)', 'Gentoo penguin (Pygoscelis papua)', 'Gentoo penguin (Pygoscelis papua)', 'Gentoo penguin (Pygoscelis papua)', 'Gentoo penguin (Pygoscelis papua)', 'Gentoo penguin (Pygoscelis papua)', 'Gentoo penguin (Pygoscelis papua)', 'Gentoo penguin (Pygoscelis papua)', 'Gentoo penguin (Pygoscelis papua)', 'Gentoo penguin (Pygoscelis papua)', 'Gentoo penguin (Pygoscelis papua)', 'Gentoo penguin (Pygoscelis papua)', 'Gentoo penguin (Pygoscelis papua)', 'Gentoo penguin (Pygoscelis papua)', 'Gentoo penguin (Pygoscelis papua)', 'Gentoo penguin (Pygoscelis papua)', 'Gentoo penguin (Pygoscelis papua)', 'Gentoo penguin (Pygoscelis papua)', 'Gentoo penguin (Pygoscelis papua)', 'Gentoo penguin (Pygoscelis papua)', 'Gentoo penguin (Pygoscelis papua)', 'Gentoo penguin (Pygoscelis papua)', 'Gentoo penguin (Pygoscelis papua)', 'Gentoo penguin (Pygoscelis papua)', 'Gentoo penguin (Pygoscelis papua)', 'Gentoo penguin (Pygoscelis papua)', 'Gentoo penguin (Pygoscelis papua)', 'Gentoo penguin (Pygoscelis papua)', 'Gentoo penguin (Pygoscelis papua)', 'Gentoo penguin (Pygoscelis papua)', 'Gentoo penguin (Pygoscelis papua)', 'Gentoo penguin (Pygoscelis papua)', 'Gentoo penguin (Pygoscelis papua)']

In [40]:
# or
print(*species, sep="\n")

Adelie Penguin (Pygoscelis adeliae)
Adelie Penguin (Pygoscelis adeliae)
Adelie Penguin (Pygoscelis adeliae)
Adelie Penguin (Pygoscelis adeliae)
Adelie Penguin (Pygoscelis adeliae)
Adelie Penguin (Pygoscelis adeliae)
Adelie Penguin (Pygoscelis adeliae)
Adelie Penguin (Pygoscelis adeliae)
Adelie Penguin (Pygoscelis adeliae)
Adelie Penguin (Pygoscelis adeliae)
Adelie Penguin (Pygoscelis adeliae)
Adelie Penguin (Pygoscelis adeliae)
Adelie Penguin (Pygoscelis adeliae)
Adelie Penguin (Pygoscelis adeliae)
Adelie Penguin (Pygoscelis adeliae)
Adelie Penguin (Pygoscelis adeliae)
Adelie Penguin (Pygoscelis adeliae)
Adelie Penguin (Pygoscelis adeliae)
Adelie Penguin (Pygoscelis adeliae)
Adelie Penguin (Pygoscelis adeliae)
Adelie Penguin (Pygoscelis adeliae)
Adelie Penguin (Pygoscelis adeliae)
Adelie Penguin (Pygoscelis adeliae)
Adelie Penguin (Pygoscelis adeliae)
Adelie Penguin (Pygoscelis adeliae)
Adelie Penguin (Pygoscelis adeliae)
Adelie Penguin (Pygoscelis adeliae)
Adelie Penguin (Pygoscelis adeliae)
Adelie Penguin (Pygoscelis adeliae)
Adelie Penguin (Pygoscelis adeliae)
Adelie Penguin (Pygoscelis adeliae)
Adelie Penguin (Pygoscelis adeliae)
Adelie Penguin (Pygoscelis adeliae)
Adelie Penguin (Pygoscelis adeliae)
Adelie Penguin (Pygoscelis adeliae)
Adelie Penguin (Pygoscelis adeliae)
Adelie Penguin (Pygoscelis adeliae)
Adelie Penguin (Pygoscelis adeliae)
Adelie Penguin (Pygoscelis adeliae)
Adelie Penguin (Pygoscelis adeliae)
Adelie Penguin (Pygoscelis adeliae)
Adelie Penguin (Pygoscelis adeliae)
Adelie Penguin (Pygoscelis adeliae)
Adelie Penguin (Pygoscelis adeliae)
Adelie Penguin (Pygoscelis adeliae)
Adelie Penguin (Pygoscelis adeliae)
Adelie Penguin (Pygoscelis adeliae)
Adelie Penguin (Pygoscelis adeliae)
Adelie Penguin (Pygoscelis adeliae)
Adelie Penguin (Pygoscelis adeliae)
Adelie Penguin (Pygoscelis adeliae)
Adelie Penguin (Pygoscelis adeliae)
Adelie Penguin (Pygoscelis adeliae)
Adelie Penguin (Pygoscelis adeliae)
Adelie Penguin (Pygoscelis adeliae)
Adelie Penguin (Pygoscelis adeliae)
Adelie Penguin (Pygoscelis adeliae)
Adelie Penguin (Pygoscelis adeliae)
Adelie Penguin (Pygoscelis adeliae)
Adelie Penguin (Pygoscelis adeliae)
Adelie Penguin (Pygoscelis adeliae)
Adelie Penguin (Pygoscelis adeliae)
Adelie Penguin (Pygoscelis adeliae)
Adelie Penguin (Pygoscelis adeliae)
Adelie Penguin (Pygoscelis adeliae)
Adelie Penguin (Pygoscelis adeliae)
Adelie Penguin (Pygoscelis adeliae)
Adelie Penguin (Pygoscelis adeliae)
Adelie Penguin (Pygoscelis adeliae)
Adelie Penguin (Pygoscelis adeliae)
Adelie Penguin (Pygoscelis adeliae)
Adelie Penguin (Pygoscelis adeliae)
Adelie Penguin (Pygoscelis adeliae)
Adelie Penguin (Pygoscelis adeliae)
Adelie Penguin (Pygoscelis adeliae)
Adelie Penguin (Pygoscelis adeliae)
Adelie Penguin (Pygoscelis adeliae)
Adelie Penguin (Pygoscelis adeliae)
Adelie Penguin (Pygoscelis adeliae)
Adelie Penguin (Pygoscelis adeliae)
Adelie Penguin (Pygoscelis adeliae)
Adelie Penguin (Pygoscelis adeliae)
Adelie Penguin (Pygoscelis adeliae)
Adelie Penguin (Pygoscelis adeliae)
Adelie Penguin (Pygoscelis adeliae)
Adelie Penguin (Pygoscelis adeliae)
Adelie Penguin (Pygoscelis adeliae)
Adelie Penguin (Pygoscelis adeliae)
Adelie Penguin (Pygoscelis adeliae)
Adelie Penguin (Pygoscelis adeliae)
Adelie Penguin (Pygoscelis adeliae)
Adelie Penguin (Pygoscelis adeliae)
Adelie Penguin (Pygoscelis adeliae)
Adelie Penguin (Pygoscelis adeliae)
Adelie Penguin (Pygoscelis adeliae)
Adelie Penguin (Pygoscelis adeliae)
Adelie Penguin (Pygoscelis adeliae)
Adelie Penguin (Pygoscelis adeliae)
Adelie Penguin (Pygoscelis adeliae)
Adelie Penguin (Pygoscelis adeliae)
Adelie Penguin (Pygoscelis adeliae)
Adelie Penguin (Pygoscelis adeliae)
Adelie Penguin (Pygoscelis adeliae)
Adelie Penguin (Pygoscelis adeliae)
Adelie Penguin (Pygoscelis adeliae)
Adelie Penguin (Pygoscelis adeliae)
Adelie Penguin (Pygoscelis adeliae)
Adelie Penguin (Pygoscelis adeliae)
Adelie Penguin (Pygoscelis adeliae)
Adelie Penguin (Pygoscelis adeliae)
Adelie Penguin (Pygoscelis adeliae)
Adelie Penguin (Pygoscelis adeliae)
Adelie Penguin (Pygoscelis adeliae)
Adelie Penguin (Pygoscelis adeliae)
Adelie Penguin (Pygoscelis adeliae)
Adelie Penguin (Pygoscelis adeliae)
Adelie Penguin (Pygoscelis adeliae)
Adelie Penguin (Pygoscelis adeliae)
Adelie Penguin (Pygoscelis adeliae)
Adelie Penguin (Pygoscelis adeliae)
Adelie Penguin (Pygoscelis adeliae)
Adelie Penguin (Pygoscelis adeliae)
Adelie Penguin (Pygoscelis adeliae)
Adelie Penguin (Pygoscelis adeliae)
Adelie Penguin (Pygoscelis adeliae)
Adelie Penguin (Pygoscelis adeliae)
Adelie Penguin (Pygoscelis adeliae)
Adelie Penguin (Pygoscelis adeliae)
Adelie Penguin (Pygoscelis adeliae)
Adelie Penguin (Pygoscelis adeliae)
Adelie Penguin (Pygoscelis adeliae)
Adelie Penguin (Pygoscelis adeliae)
Adelie Penguin (Pygoscelis adeliae)
Adelie Penguin (Pygoscelis adeliae)
Adelie Penguin (Pygoscelis adeliae)
Adelie Penguin (Pygoscelis adeliae)
Adelie Penguin (Pygoscelis adeliae)
Adelie Penguin (Pygoscelis adeliae)
Adelie Penguin (Pygoscelis adeliae)
Adelie Penguin (Pygoscelis adeliae)
Adelie Penguin (Pygoscelis adeliae)
Adelie Penguin (Pygoscelis adeliae)
Adelie Penguin (Pygoscelis adeliae)
Adelie Penguin (Pygoscelis adeliae)
Adelie Penguin (Pygoscelis adeliae)
Adelie Penguin (Pygoscelis adeliae)
Adelie Penguin (Pygoscelis adeliae)
Adelie Penguin (Pygoscelis adeliae)
Adelie Penguin (Pygoscelis adeliae)
Adelie Penguin (Pygoscelis adeliae)
Adelie Penguin (Pygoscelis adeliae)
Adelie Penguin (Pygoscelis adeliae)
Chinstrap penguin (Pygoscelis antarctica)
Chinstrap penguin (Pygoscelis antarctica)
Chinstrap penguin (Pygoscelis antarctica)
Chinstrap penguin (Pygoscelis antarctica)
Chinstrap penguin (Pygoscelis antarctica)
Chinstrap penguin (Pygoscelis antarctica)
Chinstrap penguin (Pygoscelis antarctica)
Chinstrap penguin (Pygoscelis antarctica)
Chinstrap penguin (Pygoscelis antarctica)
Chinstrap penguin (Pygoscelis antarctica)
Chinstrap penguin (Pygoscelis antarctica)
Chinstrap penguin (Pygoscelis antarctica)
Chinstrap penguin (Pygoscelis antarctica)
Chinstrap penguin (Pygoscelis antarctica)
Chinstrap penguin (Pygoscelis antarctica)
Chinstrap penguin (Pygoscelis antarctica)
Chinstrap penguin (Pygoscelis antarctica)
Chinstrap penguin (Pygoscelis antarctica)
Chinstrap penguin (Pygoscelis antarctica)
Chinstrap penguin (Pygoscelis antarctica)
Chinstrap penguin (Pygoscelis antarctica)
Chinstrap penguin (Pygoscelis antarctica)
Chinstrap penguin (Pygoscelis antarctica)
Chinstrap penguin (Pygoscelis antarctica)
Chinstrap penguin (Pygoscelis antarctica)
Chinstrap penguin (Pygoscelis antarctica)
Chinstrap penguin (Pygoscelis antarctica)
Chinstrap penguin (Pygoscelis antarctica)
Chinstrap penguin (Pygoscelis antarctica)
Chinstrap penguin (Pygoscelis antarctica)
Chinstrap penguin (Pygoscelis antarctica)
Chinstrap penguin (Pygoscelis antarctica)
Chinstrap penguin (Pygoscelis antarctica)
Chinstrap penguin (Pygoscelis antarctica)
Chinstrap penguin (Pygoscelis antarctica)
Chinstrap penguin (Pygoscelis antarctica)
Chinstrap penguin (Pygoscelis antarctica)
Chinstrap penguin (Pygoscelis antarctica)
Chinstrap penguin (Pygoscelis antarctica)
Chinstrap penguin (Pygoscelis antarctica)
Chinstrap penguin (Pygoscelis antarctica)
Chinstrap penguin (Pygoscelis antarctica)
Chinstrap penguin (Pygoscelis antarctica)
Chinstrap penguin (Pygoscelis antarctica)
Chinstrap penguin (Pygoscelis antarctica)
Chinstrap penguin (Pygoscelis antarctica)
Chinstrap penguin (Pygoscelis antarctica)
Chinstrap penguin (Pygoscelis antarctica)
Chinstrap penguin (Pygoscelis antarctica)
Chinstrap penguin (Pygoscelis antarctica)
Chinstrap penguin (Pygoscelis antarctica)
Chinstrap penguin (Pygoscelis antarctica)
Chinstrap penguin (Pygoscelis antarctica)
Chinstrap penguin (Pygoscelis antarctica)
Chinstrap penguin (Pygoscelis antarctica)
Chinstrap penguin (Pygoscelis antarctica)
Chinstrap penguin (Pygoscelis antarctica)
Chinstrap penguin (Pygoscelis antarctica)
Chinstrap penguin (Pygoscelis antarctica)
Chinstrap penguin (Pygoscelis antarctica)
Chinstrap penguin (Pygoscelis antarctica)
Chinstrap penguin (Pygoscelis antarctica)
Chinstrap penguin (Pygoscelis antarctica)
Chinstrap penguin (Pygoscelis antarctica)
Chinstrap penguin (Pygoscelis antarctica)
Chinstrap penguin (Pygoscelis antarctica)
Chinstrap penguin (Pygoscelis antarctica)
Chinstrap penguin (Pygoscelis antarctica)
Gentoo penguin (Pygoscelis papua)
Gentoo penguin (Pygoscelis papua)
Gentoo penguin (Pygoscelis papua)
Gentoo penguin (Pygoscelis papua)
Gentoo penguin (Pygoscelis papua)
Gentoo penguin (Pygoscelis papua)
Gentoo penguin (Pygoscelis papua)
Gentoo penguin (Pygoscelis papua)
Gentoo penguin (Pygoscelis papua)
Gentoo penguin (Pygoscelis papua)
Gentoo penguin (Pygoscelis papua)
Gentoo penguin (Pygoscelis papua)
Gentoo penguin (Pygoscelis papua)
Gentoo penguin (Pygoscelis papua)
Gentoo penguin (Pygoscelis papua)
Gentoo penguin (Pygoscelis papua)
Gentoo penguin (Pygoscelis papua)
Gentoo penguin (Pygoscelis papua)
Gentoo penguin (Pygoscelis papua)
Gentoo penguin (Pygoscelis papua)
Gentoo penguin (Pygoscelis papua)
Gentoo penguin (Pygoscelis papua)
Gentoo penguin (Pygoscelis papua)
Gentoo penguin (Pygoscelis papua)
Gentoo penguin (Pygoscelis papua)
Gentoo penguin (Pygoscelis papua)
Gentoo penguin (Pygoscelis papua)
Gentoo penguin (Pygoscelis papua)
Gentoo penguin (Pygoscelis papua)
Gentoo penguin (Pygoscelis papua)
Gentoo penguin (Pygoscelis papua)
Gentoo penguin (Pygoscelis papua)
Gentoo penguin (Pygoscelis papua)
Gentoo penguin (Pygoscelis papua)
Gentoo penguin (Pygoscelis papua)
Gentoo penguin (Pygoscelis papua)
Gentoo penguin (Pygoscelis papua)
Gentoo penguin (Pygoscelis papua)
Gentoo penguin (Pygoscelis papua)
Gentoo penguin (Pygoscelis papua)
Gentoo penguin (Pygoscelis papua)
Gentoo penguin (Pygoscelis papua)
Gentoo penguin (Pygoscelis papua)
Gentoo penguin (Pygoscelis papua)
Gentoo penguin (Pygoscelis papua)
Gentoo penguin (Pygoscelis papua)
Gentoo penguin (Pygoscelis papua)
Gentoo penguin (Pygoscelis papua)
Gentoo penguin (Pygoscelis papua)
Gentoo penguin (Pygoscelis papua)
Gentoo penguin (Pygoscelis papua)
Gentoo penguin (Pygoscelis papua)
Gentoo penguin (Pygoscelis papua)
Gentoo penguin (Pygoscelis papua)
Gentoo penguin (Pygoscelis papua)
Gentoo penguin (Pygoscelis papua)
Gentoo penguin (Pygoscelis papua)
Gentoo penguin (Pygoscelis papua)
Gentoo penguin (Pygoscelis papua)
Gentoo penguin (Pygoscelis papua)
Gentoo penguin (Pygoscelis papua)
Gentoo penguin (Pygoscelis papua)
Gentoo penguin (Pygoscelis papua)
Gentoo penguin (Pygoscelis papua)
Gentoo penguin (Pygoscelis papua)
Gentoo penguin (Pygoscelis papua)
Gentoo penguin (Pygoscelis papua)
Gentoo penguin (Pygoscelis papua)
Gentoo penguin (Pygoscelis papua)
Gentoo penguin (Pygoscelis papua)
Gentoo penguin (Pygoscelis papua)
Gentoo penguin (Pygoscelis papua)
Gentoo penguin (Pygoscelis papua)
Gentoo penguin (Pygoscelis papua)
Gentoo penguin (Pygoscelis papua)
Gentoo penguin (Pygoscelis papua)
Gentoo penguin (Pygoscelis papua)
Gentoo penguin (Pygoscelis papua)
Gentoo penguin (Pygoscelis papua)
Gentoo penguin (Pygoscelis papua)
Gentoo penguin (Pygoscelis papua)
Gentoo penguin (Pygoscelis papua)
Gentoo penguin (Pygoscelis papua)
Gentoo penguin (Pygoscelis papua)
Gentoo penguin (Pygoscelis papua)
Gentoo penguin (Pygoscelis papua)
Gentoo penguin (Pygoscelis papua)
Gentoo penguin (Pygoscelis papua)
Gentoo penguin (Pygoscelis papua)
Gentoo penguin (Pygoscelis papua)
Gentoo penguin (Pygoscelis papua)
Gentoo penguin (Pygoscelis papua)
Gentoo penguin (Pygoscelis papua)
Gentoo penguin (Pygoscelis papua)
Gentoo penguin (Pygoscelis papua)
Gentoo penguin (Pygoscelis papua)
Gentoo penguin (Pygoscelis papua)
Gentoo penguin (Pygoscelis papua)
Gentoo penguin (Pygoscelis papua)
Gentoo penguin (Pygoscelis papua)
Gentoo penguin (Pygoscelis papua)
Gentoo penguin (Pygoscelis papua)
Gentoo penguin (Pygoscelis papua)
Gentoo penguin (Pygoscelis papua)
Gentoo penguin (Pygoscelis papua)
Gentoo penguin (Pygoscelis papua)
Gentoo penguin (Pygoscelis papua)
Gentoo penguin (Pygoscelis papua)
Gentoo penguin (Pygoscelis papua)
Gentoo penguin (Pygoscelis papua)
Gentoo penguin (Pygoscelis papua)
Gentoo penguin (Pygoscelis papua)
Gentoo penguin (Pygoscelis papua)
Gentoo penguin (Pygoscelis papua)
Gentoo penguin (Pygoscelis papua)
Gentoo penguin (Pygoscelis papua)
Gentoo penguin (Pygoscelis papua)
Gentoo penguin (Pygoscelis papua)
Gentoo penguin (Pygoscelis papua)
Gentoo penguin (Pygoscelis papua)
Gentoo penguin (Pygoscelis papua)
Gentoo penguin (Pygoscelis papua)
Gentoo penguin (Pygoscelis papua)
Gentoo penguin (Pygoscelis papua)

##### Creating DataFrames

In [41]:
# Create lists
list1 = ['Cropland', 'Forest', 'Grassland ', 'Urban']
list2 = [60 , 20, 5, 10]

In [42]:
# Defining each list as columns
data = list(zip(list1, list2)) # list of tuples
newdf = pd. DataFrame(data=data , columns =['LULC', '2010'])
print(newdf)

         LULC  2010
0    Cropland    60
1      Forest    20
2  Grassland      5
3       Urban    10

In [43]:
# Defining each list as rows
newdf2 = pd.DataFrame([list1 ,list2], index =['LULC','2010'])
print(newdf2)

             0       1           2      3
LULC  Cropland  Forest  Grassland   Urban
2010        60      20           5     10

In [44]:
# transpose DataFrames
print(newdf2.T)

         LULC 2010
0    Cropland   60
1      Forest   20
2  Grassland     5
3       Urban   10

In [45]:
# set first row as the header names
newdf2.columns = newdf2.iloc[0]
newdf2 = newdf2[1:] # remove duplicated row (1)
print(newdf2)

# alternatively: 
# newdf2.rename(columns=newdf2.iloc[0]).drop(newdf2.index[0])
# print(newdf2)

LULC Cropland Forest Grassland  Urban
2010       60     20          5    10

##### Adding and combining

In [46]:
# Adding rows
newdf2.loc[2] = [55, 15, 10, 15] # inserts new row in row 2
newdf2.rename(index={2: '2020'}, inplace=True) # replace the index name by '2020'
print(newdf2)

LULC Cropland Forest Grassland  Urban
2010       60     20          5    10
2020       55     15         10    15

In [47]:
# Adding columns
newdf['2020'] = [55, 15, 10, 15]
print(newdf)

         LULC  2010  2020
0    Cropland    60    55
1      Forest    20    15
2  Grassland      5    10
3       Urban    10    15

In [48]:
# merging DataFrames based on common fields

list3 = ['Cropland', 'Forest', 'Grassland ', 'Water']
list4 = [55 , 15, 10, 2]

data2 = list(zip(list3, list4))
newdf3 = pd.DataFrame(data=data2 , columns =['LULC', '2030']) # produce new DataFrame

In [49]:
# merging matches rows from newdf
pd.merge(newdf, newdf3, how='left', on='LULC')

         LULC  2010  2020  2030
0    Cropland    60    55  55.0
1      Forest    20    15  15.0
2  Grassland      5    10  10.0
3       Urban    10    15   NaN

In [50]:
# merging matches rows from newdf3
pd.merge(newdf, newdf3, how='right', on='LULC')

         LULC  2010  2020  2030
0    Cropland  60.0  55.0    55
1      Forest  20.0  15.0    15
2  Grassland    5.0  10.0    10
3       Water   NaN   NaN     2

In [51]:
# merging matches common rows
pd.merge(newdf, newdf3, how='inner', on='LULC')

         LULC  2010  2020  2030
0    Cropland    60    55    55
1      Forest    20    15    15
2  Grassland      5    10    10

In [52]:
# merging matches all rows
pd.merge(newdf, newdf3, how='outer', on='LULC')

         LULC  2010  2020  2030
0    Cropland  60.0  55.0  55.0
1      Forest  20.0  15.0  15.0
2  Grassland    5.0  10.0  10.0
3       Urban  10.0  15.0   NaN
4       Water   NaN   NaN   2.0

## References

pandas documentation, Version 2.2.3, 2024. https://pandas.pydata.org/docs/index.html

pandas cheat sheet. https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf